<mat-card>
    <mat-card-title>{{titulo}}</mat-card-title>
    <form>


      <!--<mat-form-field appearance="fill">
        <mat-label>-- Selecione o Quarto --</mat-label>
        <mat-select [(value)]="hospedagem.idQuarto.idQuarto" name="hospedagem" >
          <mat-option *ngFor="let h of hospedagem" [value]="h.idQuarto.idQuarto">
            {{h.idQuarto.idQuarto}}
          </mat-option>
        </mat-select>
    </mat-form-field>-->

        <mat-form-field appearance="fill">
            <input matInput placeholder="ID do Quarto" name="idQuarto" [(ngModel)]="hospedagem.idQuarto.idQuarto">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput placeholder="ID do Hospede" name="idHospede" [(ngModel)]="hospedagem.idHospede.idHospede">
      </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Data de Checkin" name="dtCheckin" [(ngModel)]="hospedagem.dtCheckin">
      </mat-form-field>
      <mat-form-field>
          <input matInput  placeholder="Data do Checkout" name="dtCheckout" [(ngModel)]="hospedagem.dtCheckout">
      </mat-form-field>

    </form>




    <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-raised-button color="warn" routerLink="/hospedagens/">Cancelar</button>
</mat-card>